:root{
    --primary-font: 'Poppins';
    --bgColor: #1A1E21;
    --secColor: #24BFC7;
    --darked: #202120;
    --textColor: #fff;
}

footer{
    background-color: #191818;
    position: absolute;
    bottom: 0;
    height: 12vh;
    width: 100%;
    padding: 0 25px;
    padding-bottom: 3vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav-element{
    width: 100%;
    text-align: center;
}

.nav-element:hover{
    color: var(--secColor);
    transition: 0.6s;
    cursor: pointer;
}

.nav-element p{
    font-size: 12px;
}

.right{
    padding-right: 20%;
}


.addPost {
    background-color: var(--secColor);
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -30%;
    left: 40%;
    overflow: hidden;
    cursor: pointer;
}


.addPost:hover{
    transform: rotate(360deg);
    background-color: transparent;
    font-size: 2.5em;
    transition: 1s;
    border: #c0c0c0 solid 1px;
}


@media only screen and (max-width: 1366px){
    .addPost{
        height: 55px;
        width: 55px;
    }

    .nav-element{
        font-size: 12px;
    }
    
    .right{
        padding-right:23%;
    }
    
}