:root{
    --primary-font: 'Poppins';
    --bgColor: #1A1E21;
    --secColor: #24BFC7;
    --darked: #202120;
    --textColor: #fff;
}


.setting-screen{
    margin: 0 20px;;
}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    margin-bottom: 20px;
}

.opts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    background-color: var(--darked);
    border-radius: 5px;
   
}

i{
    cursor: pointer;
}

i:hover{
    color: var(--secColor);
    transition: 0.6s;
}

.inline{
    display: flex;
}

.options{
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    cursor: pointer;
}

.options p, .options i{
    font-size: 12px;
}

.options p{
    margin-left: 10px;
}

.logout{
   color: rgba(207, 62, 62, 0.705);
   background-color: var(--darked);
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 80px;
    width: 90%;
    border-radius: 5px;
}

.logout:hover{
    background-color: rgba(207, 62, 62, 0.705);
    color: #fff;
    transition: 0.6s;
}

.post-div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    height: 100px;
    align-items: center;
}
.img {
    height: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-image: url('https://static-00.iconduck.com/assets.00/add-image-icon-2048x1908-0v5fxcb2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#imageInput{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

#caption {
    background-color: transparent;
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}
.editProfile-btn {
    position: absolute;
    bottom: 50px;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #24BFC7;
    color: #fff;
    cursor: pointer;
}

.editProfile-btn:hover{
    background-color: transparent;
    border: 1px #c0c0c0 solid;
    transition: 0.6s;
}

#user_id{
    display: none;
}


.addComment-container{
    position: absolute; bottom: 15%;width: 90%;
}

.commentInput{
    width: 100%; padding: 8px;
    border-radius: 6px;
    border: none;
    color: #000;
}

.comment-btn{
    position: aboslute; top: 0
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}